<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT child1 ANY>
<!ATTLIST child1 id ID #REQUIRED>
<!ELEMENT child2 ANY>
<!ATTLIST child2 id ID #REQUIRED>
<!ELEMENT child2Composition ANY>
<!ATTLIST child2Composition id ID #REQUIRED>
<!ELEMENT grandChild1 ANY>
<!ATTLIST grandChild1 id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>

]>
<root id="-1" />